#ContactForm1
{
display: none !important;
}

.contact-form-widget
{
margin-left:auto;
margin-right:auto;
width:600px;
max-width:100%;
padding:40px 0}

.contactf-name,.contactf-email
{
float:left;
width:48.25%}

.contactf-name
{margin-right:3.5%}

.contact-form-name,.contact-form-email,.contact-form-email-message,.contact-form-name:hover,.contact-form-name:focus,.contact-form-email:hover,.contact-form-email:focus,.contact-form-email-message:hover,.contact-form-email-message:focus
{
width:100%;
max-width:100%;
margin:0 0 20px;
padding:10px 15px;
font-size:12px;
letter-spacing:1px;
color:#444;
background:#F3F3F3;
border:medium none;
-webkit-box-shadow:none;
-moz-box-shadow:none;
box-shadow:none
}

.contact-form-name,.contact-form-email
{
height:37px
}

.contact-form-email-message
{
height:170px
}

.contact-form-button-submit,.contact-form-button-submit:hover
{
width:13%;
height:30px;
font:normal 12px Arial;
letter-spacing:1px;
color:#444;
display:block;
outline:none;
margin-bottom:20px;
text-align:center;
background:#E6E6E6;
border:0;cursor:pointer
}

.contact-form-button-submit:active
{
outline:none;
-webkit-box-shadow:none;
box-shadow:none
}
.contact-form-cross
{
border:medium none!important;box-shadow:none!important;padding:0!important
}
